@media (min-width: 1000px) {
  nav {
    padding: 0rem 1rem;
  }
  .slider {
    margin-top: 1rem;
    height: 450px;
  }
  .middle {
    font-size: 1.5rem;
    display: flex;
    gap: 5rem;
  }
  .middle i:hover {
    scale: 1.2;
  }
  .right {
    display: initial;
  }
  .menu {
    display: none;
  }
  .right:hover {
    scale: 1.2;
  }
  .icons {
    display: none;
  }
  .right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .login{
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: black;
  }

  .slider {
    height: 700px;
  }

  .txt {
    top: 60%;
    height: 7rem;
    padding: 20px 30px;
    font-size: 20px;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
    background-color: rgba(128, 128, 128, 0.327);
    height: fit-content;
    width: 40rem;
  }

  h4 {
    font-size: 3.5em;
  }
  h6 {
    font-size: 1.5rem;
  }
  .txt div {
    width: fit-content;
  }

  .scrollA {
    padding-top: 2rem;
    font-size: 1.2rem;
    color: white;
  }

  .newshow img {
    height: 400px;
  }
  .scrollB {
    padding-top: 2rem;
    font-size: 1.2rem;
    color: white;
  }
  .scrollC {
    padding-top: 2rem;
    font-size: 1.2rem;
    color: white;
  }

  .scrollD {
    padding-top: 2rem;
    font-size: 1.2rem;
    color: white;
  }
  .language {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow: auto;
  }
  .language::-webkit-scrollbar {
    display: none;
  }
  .lang img {
    height: 200px;
  }
  .scrollE {
    padding-top: 2rem;
    font-size: 1.2rem;
    color: white;
  }
  .PopularGenre {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    overflow: auto;
  }
  .PopularGenre::-webkit-scrollbar {
    display: none;
  }
  .footertop {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 8rem;
  }

  .footertop h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .footertop h6 {
    font-size: 1.1rem;
    color: grey;
  }
  .footertop i {
    font-size: 2rem;
    color: grey;
  }

  .footerbottom {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }

  .bottomleft h6 {
    font-size: 1rem;
    color: grey;
  }
  .bottomright img {
    height: 50px;
  }
  .searchinput {
    display: flex;
    display: none;
    gap: 0px;
  }
  .searchinput input {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
  }
  .searchinput button {
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
